
body > * {
  box-sizing: content-box;
}

.container .row {
   background: #021d51;
   border-bottom: 1px solid #000;
   height: 30vh;
}

.container .row > div > span {
  display: block;
  background: #487bdd;
  color: white;
  font-size: 32px;
  padding: 8px;
  border: 1px solid #021d51;
}

.componet.demo {
     padding: 50px;
}

